* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font: inherit;
}
input,
select,
button {
  font: inherit;
}
html,
body {
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


:root{
  --app-border-radius: 8px;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.slide-leave-active,
.slide-enter-active {
  transition: transform .5s ease-in-out;
}
.slide-enter {
  transform: translateX(0%);
}
.slide-leave-to {
  transform: translateX(-100%);
}

@media screen and (min-width: 451px) {
  ::-webkit-scrollbar {
    display: none;
  }  
}

